{% extends 'events/base.html' %}
{% block content %}
    
{% if user.is_authenticated %}

<center>
    <h1>add venue</h1>
    <br/>
    {% if submitted %}     
    Your venue was submitted successfully!
    {% else %}
      <form action="" method=POST>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit"  value="Submit">
      </form>
      {% endif %}
</center>

{% else %}
	<h1>Sorry! You Must Be Logged In To View This Page...</h1>

	<a href="{% url 'login' %}">Login Here</a>
{% endif %}
{% endblock %}
